.ring-main {
  margin: auto;
}

.navbar-brand {
  height: 55px;
  padding: 0;
}

.nav-logo {
  width: 75px;
}

.input-container {
  margin: 15px 0;
}

.col-md-6 {
  padding-left: 0;
}

.title {
  margin-top: 0;
}

.jumbotron p {
  margin: 0;
  font-size: 13px;
}



@media screen and (max-width: 450px) {

   table {
     border: 0;
   }

   table thead {
     display: none;
   }

   table tr {
     margin-bottom: 10px;
     display: block;
     border-bottom: 2px solid #ddd;
   }

   table td {
     display: block;
     text-align: right;
     font-size: 13px;
     border-bottom: 1px dotted #ccc;
   }

   table td:last-child {
     border-bottom: 0;
   }

   table td:before {
     content: attr(data-label);
     float: left;
     text-transform: uppercase;
     font-weight: bold;
   }
 }
