<div class='intro-header'>
	<div class="container">
  	<div class="row">
    	<div class="col-lg-12">
      	<div class="intro-message">
        	<h1>Intermountain ATA</h1>
          <hr class="intro-divider"> 
					<h2>Contact</h2>  
      </div>
      </div>
     </div>
	</div>	
</div>

<div class='content-section-a'>
	<div class='container'>
		<div class='col-md-7'>
			<p>This website is used by Region 119D for ATA tournaments. If you are intrested in the site or have any questions you can shoot me an email at <a href='mailto:andrew.arsoftware@gmail.com'>here</a></p>
		</div>
	</div>
</div>
